.custom-border-round {
  border-radius: 12px;
}

.custom-gradient-alpha {
  background-image: linear-gradient(-45deg,#81FBB8,#28C76F);
}

.custom-gradient-beta {
  background-image: linear-gradient(-45deg,#FEB692,#EA5455);
}

.custom-shadow {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

.custom-text-shadow {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
}

.is-clickable {
  cursor: pointer;
}

.navbar-menu a {
  margin: 5px;
}