<div class="box">
	<p class="subtitle has-text-black has-text-weight-semibold">
		{{burger_name}}
	</p>
	<button class="burger_btn button is-success is-outlined" data-id="{{id}}" data-neweat="{{eat}}">
		{{#if eat}}Eat it{{else}}Don't want it{{/if}}
	</button>
</div>